<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Meta -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Style Sheets -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <title style="">ISO Progress Capture</title>
</head>
<body>
  <h1 style="text-align: center; padding-top: 15px">ISO Progress Capture</h1>
  <table class="eight columns offset-by-two">
    <thead>
      <tr>
        <th>ISO Tag</th>
        <th>Labor Estimate</th>
        <th>Labor Logged</th>
        <th>% Complete</th>
      </tr>
    </thead>
    <tbody>
      <% for (var i=0; i<entries.length; i++) {%>
      <tr>
        <td><%= entries[i].isoTag %></td>
        <td><%= entries[i].laborEst + ' Hrs' %></td>
        <td><%= entries[i].laborLogged + ' Hrs' %></td>
        <td><%= entries[i].percentComplete*100 + "%" %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
</body>
</html>