<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/style.css">

  <title>ISO# <%= iso.isoTag %></title>
</head>

<body>
    <h2 style="text-align: center; margin-top: 35px"><%= iso.isoTag %></h2>
    <h4 style="text-align: center; padding-top: 35px">Previous Entries</h4>
    <table class="six columns offset-by-three">
      <thead>
        <tr>
          <th>Date</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <% iso['laborEntries'].forEach(function(entry) { %>
          <tr>
            <td><%= entry.date %></td>
            <td><%= entry.hoursWorked %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </body>



</html>